<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Headers</key>
	<array>
		<string>Personal Info</string>
		<string>Physical Info</string>
		<string>Other Info</string>
	</array>
	<key>Footers</key>
	<array>
		<string>This data is recorded as the perception of strength may vary with gender and age. This data is stored anonymously.</string>
		<string>Your heigh &amp; weight is recorded as these attributes can also affect your strengths perception. This data is stored anonymously.</string>
		<string>This section assists in creating more tailored calibration groups. This data is stored anonymously.</string>
	</array>
</dict>
</plist>
