<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Headers</key>
	<array>
		<string>Personal Info</string>
		<string>Physical Info</string>
		<string>Other Info</string>
	</array>
	<key>Footers</key>
	<array>
		<string>A correlation with age, gender and the preception of a touch&apos;s strength will be extrememly useful in identifying more precise calibration groups. This data is stored anonymously.</string>
		<string>The physical attibutes of a person can also affect their preception of a touch&apos;s strength. Again, this data is stored anonymously.</string>
		<string>This section allows for extra data to be collected and might assist in creating more tailored calibration groups in future versions of the app. Once again, this data is stored anonymously.</string>
	</array>
</dict>
</plist>
